services:
  postgres:
    image: postgres:15-alpine
    container_name: ragrun-postgres
    environment:
      POSTGRES_USER: ragrun
      POSTGRES_PASSWORD: ragrun
      POSTGRES_DB: ragrun
    ports:
      - "15432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  qdrant:
    image: qdrant/qdrant:v1.11.0
    container_name: ragrun-qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant-data:/qdrant/storage

  embedding-service:
    build:
      context: ./personal-embeddings-service
    container_name: ragrun-embeddings
    environment:
      USE_HALF_PRECISION: "false"
    ports:
      - "8001:8001"
    depends_on:
      - qdrant

  ragrun-api:
    build: .
    container_name: ragrun-api
    # env_file:
    #   - .env
    environment:
      RAGRUN_APP_ENV: docker
      RAGRUN_QDRANT_URL: http://qdrant:6333
      RAGRUN_POSTGRES_DSN: postgresql+psycopg://ragrun:ragrun@postgres:5432/ragrun
      RAGRUN_EMBEDDINGS_BASE_URL: http://embedding-service:8001
      RAGRUN_DEEPSEEK_API_KEY: sk-008222804107459782197d95e06905e7
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - qdrant
      - embedding-service

volumes:
  postgres-data:
  qdrant-data:
